/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
    50 : #fef0e1,
    100 : #fcd9b3,
    200 : #fbc081,
    300 : #f9a64e,
    400 : #f79328,
    500 : #f68002,
    600 : #f57802,
    700 : #f36d01,
    800 : #f26301,
    900 : #ef5001,
    A100 : #ffffff,
    A200 : #ffeae3,
    A400 : #ffc5b0,
    A700 : #ffb396,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
